{# Inside a div with id #sidebar #}

<div class="list-group">

	<a href="#sidebar-submenu1" class="list-group-item level1" role="button" data-bs-toggle="collapse" aria-expanded="false">
		<span>1 - Tableau de bord</span>
	</a>
	<div class="collapse" id="sidebar-submenu1">
		<a href="#" class="list-group-item level2" role="button" data-bs-toggle="collapse" aria-expanded="false">
			<span>Sub Menu 1-1</span>
		</a>
		<a href="#" class="list-group-item level2" role="button" data-bs-toggle="collapse" aria-expanded="false">
			<span>Sub Menu 1-2</span>
		</a>
	</div>
	<a href="#sidebar-submenu2" class="list-group-item" data-bs-toggle="collapse" aria-expanded="false">
		<span>2 - Réception</span>
	</a>
	<div class="collapse" id="sidebar-submenu2">
		<a href="#" class="list-group-item level2" role="button" data-bs-toggle="collapse" aria-expanded="false">
			<span>Sub Menu 2-1</span>
		</a>
		<a href="#" class="list-group-item level2" role="button" data-bs-toggle="collapse" aria-expanded="false">
			<span>Sub Menu 2-2</span>
		</a>
	</div>
	<a href="#" class="list-group-item">
		<span>3 - Scan manifeste</span>
	</a>
	<a href="#" class="list-group-item">
		<span>4 - Importation manifeste</span>
	</a>
	<a href="#" class="list-group-item">
		<span>5 - Analyse</span>
	</a>
	<a href="#" class="list-group-item">
		<span>6 - Préparation des lots</span>
	</a>
	<a href="#" class="list-group-item">
		<span>7 - Triage</span>
	</a>
	<a href="#" class="list-group-item">
		<span>8 - Studio photo</span>
	</a>
	<a href="#" class="list-group-item">
		<span>9 - Inventaire</span>
	</a>
</div>
