{# Content inside a div with id #topbar  #}

<div class="h-100 w-100 d-flex justify-content-end align-items-center">
		<i class="fas fa-user"></i>
		<span id="connected-user-name">User name</span>
		<span id="log-out">Log out</span>
	{% if app.user %}
	{% endif %}
</div>
	
