{% extends 'admin/index.html.twig' %}

{% block content %}

    {% include 'admin/settings/users.html.twig' %}
    {% include 'admin/settings/emails.html.twig' %}
    {% include 'admin/settings/boxpresets.html.twig' %}
    {% include 'admin/settings/scan_method.html.twig' %}
    {% include 'admin/settings/dav_settings.html.twig' %}

{% endblock %}

 {% block footer %}
        <a href=" {{ path('admin_menu') }} " class="btn btn-back">Back</a>
{% endblock %}

{% block javascripts %}
     <script src=" {{ asset("js/admin//admin.js") }} "></script>
 {% endblock %}

