{% extends 'base.html.twig' %}

{% block title %}Login page{% endblock %}

{% block header %}
    <div id="lot_number"></div>
    <div id="vue_name"></div>
{% endblock %}

{% block body %}
    <div id="main" class="vue_wrapper">
        {% block content %}{% endblock %}
    </div>
{% endblock %}

{% block javascripts %}{% endblock %}

