<div class="numeric_pad_wrapper">
    <div class="numeric_pad">
        <div class="numeric_pad_digit">1</div>
        <div class="numeric_pad_digit">2</div>
        <div class="numeric_pad_digit">3</div>
        <div class="numeric_pad_digit">4</div>
        <div class="numeric_pad_digit">5</div>
        <div class="numeric_pad_digit">6</div>
        <div class="numeric_pad_digit">7</div>
        <div class="numeric_pad_digit">8</div>
        <div class="numeric_pad_digit">9</div>
        <div class="numeric_pad_digit">B</div>
        <div class="numeric_pad_digit">0</div>
        <div class="numeric_pad_digit">E</div>
    </div>
</div>