<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous"/>
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
		<link rel="stylesheet" href="{{asset('css/main/sidebar.css')}}">
		<link rel="stylesheet" href="{{asset('css/main/header.css')}}">
        {% block stylesheets %}{% endblock %}

		{% block title %}
			<title>Restock Management</title>
		{% endblock %}
	</head>
	<body>

		<div class="container-fluid">
            <div id="header" class="row">
                <div class="col-2" id="main-logo">
                    <div class="h-100 w-100 d-flex justify-content-end align-items-center">
                        <img src="{{asset('img/logo_restock.jpg')}}" class="img-fluid" alt="">                    
                    </div>
                </div>
                <div id="topbar" class="col-10">
			        {% include "main/topbar.html.twig" %}
                </div>
            </div>
			<div id="main" class="row">
                <div class="col-2 g-0" id="sidebar">
                    {% include "main/sidebar.html.twig" %}
                </div>
				<div id="content" class="col-10">
					Main content
				</div>
			</div>
		</div>

		{# <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
																						Link with href
																					</a> #}


		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
		<script src="{{asset('js/main/sidebar.js')}}"></script>
		{% block javascripts %}{% endblock %}
	</body>
</html>
