<p class="title">Scan method</p>
<div id="admin_settings_scan_method">
    <div><input type='radio' id='interne' value='interne' name='scan_method'>
    <label for='int'>Internal scanner (picture)</label></div>
    <div><input type='radio' id='externe' value='externe' name='scan_method'>
    <label for='ext'>External scanner (live scan)</label></div>
</div>
<input id="btn_confirm_scanner_presets" type='submit' value='Confirm scan method' class="btn btn-table-left">